#container{
    width: 100%;
    padding: 30px;
}
#container ul{
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
    overflow: auto;
}
#container ul img{
width: 230px;
height: 200px;
}
#container ul li{
    padding: 10px;
    cursor: pointer;
}
@media screen and (max-width:1030px){
    #container ul{
        overflow: unset;
        flex-wrap: wrap;
    }
    #container ul li{
        padding: 10px;
    }
}
@media screen and (max-width:600px){
    #container ul{
        overflow: unset;
        flex-wrap: wrap;
    }
    #container ul li{
        padding: 10px;
        width: 150px;
    }
    #container ul img{
        width: 150px;
        height: 150px;
        }
        
}
